/*@charset "iso-8859-1";*/
/* CSS Document */

/*redefiniciones generales*/

body
{
	font-size: 0.8em;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	color: #3A3A3A;
	color: #FFFFFF;
	behavior:url("csshover.htc"); /* Para que funcione el hover en IE */
background-image:url(../images/patron_fondo_body.jpg);
background-repeat: repeat-x;
background-color: #4C4C4C;
}
h4
{
	font-size: 100%;
	font-weight: bold;
}
h5, h6
{
	font-size: 100%;
}
/*h6
{
	font-size: 90%;
}*/

/*IDs ordenados alfabeticamente*/

/*#barra_enviar
{
	height: 27px;
	margin-top: 10px;
	background-color: #F2F2F2;
	text-align: center;
}
#barra_enviar #icono_texto_enviar
{
	height: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}
#barra_enviar #icono_texto_enviar a
{
	text-decoration: none;
}
#barra_enviar #icono_texto_enviar a #texto_enviar
{
	line-height: 13px;
	vertical-align: top;
	color: #5F5F5F;
}*/

#cabecera
{
	min-height: 100px;
	height: 137px;
	/*background-image: url(../images/columnas_laterales.gif);
	background-repeat: repeat-y;*/
}

#columna_dcha {
/*float: right;*/
background-image: url(../images/imagen_fondo_columna_dcha.jpg);
background-repeat: no-repeat;
	background-color: #3E3F40;
	background-color: #353535;
position: relative;
left: 10px;
}
#columna_dcha #llegardesde #boton_ok
{
	width: 40px;
	height: 23px;
	border: 1px solid #C7C7C7;
	color: #484747;
	/*background-color: #FFFFFF;
	background-image: url(../images/fondo_boton_ok.gif);
	border: none;*/
	background-image: url(../images/patron_llegardesde_boton_ok.gif);
	background-repeat: repeat-x;
	text-align: center;
}
#columna_dcha #llegardesde #localidad {
	width: 132px;
	height: 18px;
	border: 1px solid #C7C7C7;
}
#columna_dcha #oferta_precio
{
	font-weight: bold;
	color: #7a7a79;
	color: #AFACAC;
}
/*#columna_dcha h5
{
	margin-top: 0px;
	margin-bottom: 0px;
}
#columna_dcha h6
{
	margin-top: 8px;
	margin-bottom: 2px;
}*/
#columna_dcha h4
{
float: left;
width: 180px;
	padding-right: 5px;
	padding-left: 5px;
width: 185px;
padding-right: 5px;
padding-left: 0px;
	margin-top: 8px;
	margin-top: 24px;
	margin-bottom: 2px;
	margin-bottom: 14px;
	color: #FFFFFF;
	font-family: Georgia, Arial, Geneva, Helvetica, sans-serif;
	font-style: italic;
	font-size: 100%;
	/*font-size: 90%;*/
	text-align: right;
}
#columna_dcha h5
{
float: left;
width: 180px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 8px;
	margin-top: 10px;
	margin-bottom: 2px;
	color: #AFACAC;
	font-size: 90%;
	font-weight: bold;
}
#columna_dcha h5.titulo_condiciones {
	color: #B0AF6A;
}
#columna_dcha form#llegardesde { 
	float: left;
	padding: 0px 5px 0px 5px;
}
#columna_dcha div.agrupacion_elementos, p.agrupacion_elementos {
float: left;
width: 180px;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 90%;
	font-size: 85%;
	line-height: 120%;
}
#columna_dcha p.agrupacion_elementos {
}
#columna_dcha p#llegardesde_texto {
	float: left;
	padding: 0px 5px 0px 5px;
	margin-bottom: 5px;
	font-size: 85%;
	line-height: 120%;
}
/*#columna_dcha .agrupacion_elementos .elemento:first-child*/
#columna_dcha .agrupacion_elementos .primero
{
	border-width: 0px 0px 0px 0px;
}
#columna_dcha .elemento
{
	margin-top: 2px;
	border-width: 1px 0px 0px 0px;
	border-color: #E4E4E4;
	border-style: solid;
}
#columna_dcha .elemento a
{
	text-decoration: none;
}
#columna_dcha .elemento a:link
{
	color: #3A3A3A;
color: #FFFFFF;
}
#columna_dcha .elemento a:hover {
	color: #AFACAC;
}
#columna_dcha .elemento a:visited {
	color: #AFACAC;
}

#columna_izq
{
	/*color: #5D5D5B;
	color: #FFFFFF;*/
	font-family: Georgia, Arial, Geneva, Helvetica, sans-serif;
margin-top: 56px;
position: relative;
z-index: 2;
}
#columna_izq  a
{
	display: block;
width: 138px;
	text-decoration: none;
	color: #FFFFFF;
	/*font-weight: bold;*/
	font-size: 85%;
}
#columna_izq a:hover
{
	/*display: block;
	background-color: #DCDCDC;*/
	color: #B0AF6A;
}
#columna_izq a.enlace_pagina
{
	height: 16px;
	padding: 6px 0px 8px 0px;
	margin: 0px 6px 0px 6px;
	border-width: 1px 0px 0px 0px;
	border-color: #707174;
	border-style: solid;
	/*background-image: url(../images/indicador_menus.gif);
	background-position: 5px center;
	background-repeat: no-repeat;*/
	/*display: block;*/
}
#columna_izq a.pagina_sel
{
	/*background-color: #F5F5F5;*/
	color: #B0AF6A;
}
/*#columna_izq a.enlace_pagina:first-child 
{
	border-width: 0px 0px 0px 0px;
}*/
#columna_izq a.primero
{
	border-width: 0px 0px 0px 0px;
}

#contenido
{
}
#contenido_adorno {
position: absolute;
left: 0px;
bottom: 140px;
width: 670px;
width: 602px;
height: 450px;
height: 440px;
/*background-image: url(../images/imagen_fondo_adorno.jpg);*/
background-image: url(../images/ollo.gif);
background-repeat: no-repeat;
opacity: 0.1;
filter: alpha(opacity=10);
z-index: 1;
}
#contenido_2 {
float: left;
width: 670px;
	background-image: url(../images/imagen_fondo_contenido.jpg);
	/*background-position: 40px 0px;*/
	background-repeat: no-repeat;
	background-color: #555555;
	background-color: #3C3C3C;
	/*background-color: transparent;*/
_height: 650px;
}

#cuerpo {
float: left;
width: 510px;
margin-right: 0px;
}
#cuerpo #barra_seleccion_fotos
{
/*float: left;*/
	width: 470px;
	height: 31px;
	padding: 1px 12px 1px 12px;
	margin: 0px 8px 7px 8px;
/*_margin: 0px 4px 7px 4px;*/
/*_margin-left: 13px;*/
	background-image: url(../images/patron_fondo_barra_sel_fot.gif);
	background-repeat: repeat-x;
	font-size: 85%;
position: relative;
z-index: 2;
opacity: 0.6; 
filter: alpha(opacity=60);
}
#cuerpo #barra_seleccion_fotos div {
	float: left;
	width: 24px;
	height: 21px;
	margin: 5px 0px 5px 0px;
	/*border-left-width: 2px;
	border-left-color: #FFFFFF;
	border-left-style: solid;*/
	text-align: center;
}
#cuerpo #barra_seleccion_fotos div.separacion {
	width: 1px;
}
#cuerpo #barra_seleccion_fotos div:first-child a {
	border-left-width: 0px;
	border-left-style: none;
}
#cuerpo #barra_seleccion_fotos .foto_seleccionada a
{
/*display: block;
height: 20px;
	float: left;
	width: 21px;
	border-left-width: 2px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	text-align: center;*/
	/*text-decoration: none;
	background-image: url(../images/fondo_foto_seleccionada.gif);*/
	color: #FFFFFF;
}
#cuerpo #barra_seleccion_fotos .numero_foto a
{
/*display: block;
height: 20px;
	float: left;
	width: 21px;
	border-left-width: 2px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	text-align: center;*/
	text-decoration: none;
	color: #3A3A3A;
	color: #FFFFFF;
}
/*#cuerpo #barra_seleccion_fotos #texto_fotos
{
	float: left;
	width: 40px;
	padding: 0px 0px 0px 5px;
}*/

#cuerpo #foto
{
/*float: left;*/
	width: 470px;
	border-width: 10px 12px 10px 12px;
	margin: 0px 8px 7px 8px;
/*_margin: 0px 4px 7px 4px;*/
/*_margin-left: 13px;*/
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #3A3A3A;
	text-align: center;
position: relative;
z-index: 2;
}
#cuerpo #foto #foto_leyenda {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	padding: 0px 5px 2px 5px;
	text-align: left;
	background-color: #666666;
	color: #FFFFFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#cuerpo #foto_elentorno
{
	float: right;
	margin: 0px 0px 10px 10px;
}
#cuerpo #map
{
	/*float: left;*/
	/*with: 470px;
	height: 288px;*/
	height: 300px;

	width: 470px;
	border-width: 10px 12px 10px 12px;
	border-style: solid;
	border-color: #3A3A3A;
	margin: 0px 8px 7px 8px;
_margin: 0px 4px 7px 4px;
	background-color: #3A3A3A;
	text-align: center;
position: relative;
z-index: 2;
}
#cuerpo #titulo
{
	width: 490px;
	height: 46px;
	margin: 10px 0px 0px 0px;
	padding: 0px 20px 0px 0px;
	font-family: Georgia, Arial, Geneva, Helvetica, sans-serif;
	font-style: italic;
	font-size: 200%;
	font-size: 180%;
	text-align: right;
	/*font-weight: bold;*/
position: relative;
z-index: 2;
}
#cuerpo #titulo span.hotel_rural {
color: #B0AF6A;
}

#cuerpo .texto {
/*float: left;*/
width: 494px;
	margin: 0px 8px 0px 8px;
/*_margin: 0px 4px 0px 4px;*/
position: relative;
z-index: 2;
}
#cuerpo .texto a {
	color: #FFFFFF;
}
#cuerpo .texto h5
{
	margin: 8px 0px 2px 0px;
	color: #FFFFFF;
	font-family: Georgia, Arial, Geneva, Helvetica, sans-serif;
	font-size: 140%;
	font-size: 130%;
	font-weight: bold;
}
#cuerpo .texto h6
{
	margin: 2px 0px 2px 0px;
	color: #FFFFFF;
	font-size: 100%;
}
#cuerpo .texto h4
{
	margin: 8px 0px 2px 0px;
	color: #FFFFFF;
}
#cuerpo .texto p {
	padding-left: 8px;
}
#cuerpo .texto #form_contacto
{
	float: left;
	padding: 5px 0px 0px 10px;
/*height: 800px;
height: 500px;*/
width: 420px;
/*width: 480px;
position: relative;
z-index: 3;*/
}
#cuerpo .texto #nombre_hotel {
	font-weight: bold;
}
#cuerpo .texto .linea_form_contacto
{
	float: left;
	clear: left;
	margin: 5px 0px 5px 0px;
/*width: 450px;
height: 50px;
position: relative;
z-index: 4;*/
}
#cuerpo .texto .linea_form_contacto label
{
	float: left;
	clear: left;
	width: 300px;
	font-weight: bold;
margin-left: 10px;
/*width: 450px;
height: 20px;
position: relative;
z-index: 4;*/
}
#cuerpo .texto .linea_form_contacto input
{
	float: left;
	clear: left;
margin-left: 10px;
/*width: 60px;
height: 20px;
position: relative;
z-index: 4;*/
}
#cuerpo .texto .linea_form_contacto input.texto
{
	width: 350px;
	border: 1px solid #BBBBBB;
/*width: 450px;
height: 20px;
position: relative;
z-index: 4;*/
}
#cuerpo .texto .linea_form_contacto span#form_contacto_nota {
float: left;
width: 300px;
margin-left: 10px;
}
#cuerpo .texto .linea_form_contacto textarea
{
	float: left;
	clear: left;
	width: 390px;
	height: 150px;
	padding: 0px;
	border: 1px solid #BBBBBB;
width: 350px;
margin-left: 10px;
/*position: relative;
z-index: 4;*/
}
#cuerpo .texto .linea_form_contacto input.texto:focus, #cuerpo .texto .linea_form_contacto textarea:focus
{
	border:1px solid #666666;
}
#cuerpo .texto .mapaweb_linea {
width: 430px;
margin: 5px 0px 5px 0px;
padding-left: 50px;
}
#cuerpo .texto .mapaweb_linea_ultimo {
padding-bottom: 300px;
}
#cuerpo .texto .mapaweb_linea:first-child {
padding-top: 30px;
padding-left: 50px;
}
#cuerpo .texto .mapaweb_linea a {
	text-decoration: none;
}
#cuerpo .texto .mapaweb_linea a:link {
color: #FFFFFF;
}
#cuerpo .texto .mapaweb_linea a:hover {
color: #AFACAC;
}
#cuerpo .texto .mapaweb_linea a:visited {
color: #AFACAC;
}

#facebook_megusta {
	float: left;
	width: 190px;
	height: auto;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #FFFFFF;
}
/*#facebook_megusta iframe {
	background-color:#FFFFFF;
}*/

#lista_idiomas ul
{
	/*padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 4px;
	margin-bottom: 4px;*/
	padding: 15px;
	margin: 40px 0px 4px 4px;
	list-style: none;
	background-color: black !important;
	color: white !important;
	text-decoration: solid;
	font-size: 16px;

}
#lista_idiomas ul li
{
	display: inline;
	margin: 0px 4px 0px 0px;
	background-color: black !important;
	color: white !important;
	text-decoration: solid;
	font-size: 16px;
}
#lista_idiomas ul li a
{
	text-decoration: none;
	background-color: black !important;
	color: white !important;
	text-decoration: solid;
	font-size: 16px;
}
#logotipo
{
	/*height: 80px;
	margin-top: 10px;*/
	width: 190px;
	height: 130px;
}

#pie 
{
	height: 140px;
	margin-bottom: 0px;
	background-color: #746D27;
	background-color: #4C4C4C;
/*_margin-right: 5px;*/
}
#pie #datos_establecimiento
{
	margin-top: 10px;
	text-align: left;
	text-align: center;
	font-size: 100%;
/*_margin-right: 5px;*/
}
#pie #datos_establecimiento h5
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#pie #info_themovie
{
	margin-top: 3px;
	font-size: 85%;
	text-align: center;
}
#pie #info_themovie .barras
{
	color: #CBCACC;
}
#pie #info_themovie #nombre_info a
{
	color: #FE8D00;
	text-decoration: none;
}
#pie #info_themovie #texto_info
{
	color: #FFFFFF;
}
#pie #logotipo_reservadealojamientos
{
	margin-top: 3px;
	margin-bottom: 3px;
}
#pie #pie_contacto { 
	/*float: left;*/
	height: 32px;
	height: 24px;
	/*padding: 0px 0px 8px 7px;*/
	padding: 0px 0px 8px 0px;
	margin-top: 4px;
	background-color: #474747;
}
#pie #pie_contacto img { 
	height: 13px;
	padding: 11px 0px 0px 7px;
}
#pie #pie_contacto a { 
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 100%;
vertical-align: 2px;
}
#pie #pie_contacto a:hover { 
	text-decoration: underline;
}
#pie #pie_imagen_fondo {
_width: 865px;
	height: 23px;
	margin-top: 23px;
	background-image: url(../images/imagen_fondo_pie.jpg);
}
#pie #pie_mapa_web { 
	height: 32px;
	height: 24px;
	padding: 0px 0px 8px 0px;
	margin-top: 4px;
	background-color: #474747;
}
#pie #pie_mapa_web img { 
	height: 17px;
	padding: 7px 0px 0px 7px;
}
#pie #pie_mapa_web a { 
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 100%;
vertical-align: middle;
vertical-align: top;
vertical-align: 30%;
vertical-align: 6px;
}
#pie #pie_mapa_web a:hover { 
	text-decoration: underline;
}
#pie #pie_themovie { 
/*width: 190px;*/
	height: 40px;
	font-size: 85%;
	font-weight: bold;
}
#pie #pie_themovie img { 
	float: left;
/*width: 24px;*/
	height: 25px;
	padding: 4px 4px 11px 0px;
}
#pie #pie_themovie #pie_themovie_texto { 
	float: left;
/*width: 120px;*/
	height: 40px;
}
#pie #pie_themovie #pie_themovie_texto a { 
	color: #FC9B01;
	text-decoration: none;
}
#pie #pie_themovie #pie_themovie_texto a:hover { 
	text-decoration: underline;
}
#pie #pie_imagen_fondo {
	height: 23px;
	margin-top: 23px;
	background-image: url(../images/imagen_fondo_pie.jpg);
}

#separacion_cabecera_contenido
{
	margin: 0px 0px 4px 30px;
}

/*CLASES orden alfabetico*/
.calendario {
	background-color: #FFFFFF;
	color: #4A4A4A;
	font-size: 90%;
position: relative;
z-index: 2;
}
/*.calendario .span-6 {
_margin-right: 5px;
}*/
.calendario .calendario_leyenda_primero {
margin-top: 4px;
}

.calendario .celdacalendariodisp
{
	/*border-top: 1px solid #CCCCCC;*/
	border-bottom: 1px solid #666666;
	/*border-right: 1px solid #CCCCCC;*/
	padding-right: 1px;
padding-left: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	text-align: right;
}
.calendario .celdacalendariodispLunes
{
	/*border-top: 1px solid #CCCCCC;*/
	border-bottom: 1px solid #666666;
	/*border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;*/
	padding-right: 1px;
padding-left: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	text-align: right;
}
.calendario .celdacalendariodisp_nombre
{
	/*border-bottom: 1px solid #000000;*/
	border-bottom: 1px solid #666666;
	/*border-right: 1px solid #666666;*/
	/*border-right: 1px solid #CCCCCC;*/
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
}
.calendario .celdacalendariodisp_nombre:first-child
{
	/*border-top: 1px solid #000000;*/
	border-top: 1px solid #666666;
	/*border-left: 1px solid #666666;*/
	/*border-left: 1px solid #CCCCCC;*/
}
.calendario .celdamaestradisp
{
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.calendario span.cuadraditocolor
{
	display: block;
	float: left;
	margin:2px 6px 2px 6px;
/*_margin:2px 3px 2px 3px;*/
	width: 15px;
	height: 15px;
}
.calendario .tablacalendariodisp
{
	text-align: center;
	width: 470px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}
.calendario .tabladiacalendariodisp
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}
.calendario .tablamescalendariodisp
{
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	margin: 2px 0px 2px 2px;
/*_margin: 2px 0px 2px 1px;*/
	padding: 0px;
}

.calendario #tablatarifasyofertas{
margin-top: 5px;
}
.calendario #tablatarifasyofertas td:first-child
{
	text-align: left;
	color: #5D5D5B;
	font-weight: bold;
	font-size: 90%;
}
.calendario #tablatarifasyofertas td
{
	text-align: center;
	font-weight: bold;
	font-size: 90%;
}
.calendario #tablatarifasyofertas tr:first-child td
{
	border-top: 1px solid #666666;
	font-weight: bold;
	font-size: 90%;
}
.calendario #tablatarifasyofertas tr td
{
	border-bottom: 1px solid #666666;
	font-weight: bold;
	font-size: 90%;
}

.calendario #colorreserva
{
	background-color:  #9999FF;
	color: #FFFFFF;
}
.calendario #colorreserva30
{
	background-color: #FFCCCC;
	color: #FFFFFF;
}
.calendario #colorreserva60
{
	background-color: #FFAA66;
	color: #FFFFFF;
}
.calendario #colorreserva99
{
	background-color: #FF6633;
	color: #FFFFFF;
}
.calendario #colorreserva100
{
	background-color: #FF0000;
	color: #FFFFFF;
}

.container
{
	/*background-image: url(../images/columnas_laterales.gif);
	background-repeat: repeat-y;*/
	/*background-image: url(../images/fondo_general_arriba.jpg);*/
	background-image: url(../images/imagen_fondo_general.jpg);
	background-repeat: no-repeat;
_background-repeat: repeat-x;
	background-color: #4C4C4C;
}
.margen
{
	background-image: url(../images/columnas_laterales.gif);
	background-repeat: repeat-y;
	/*height: 200px;*/
}
.negrita
{
	font-weight: bold;
}

/* Martin 24/04/09. Reescritura de propiedades de blueprint con hacks para IE6 */
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {_margin-right:5px;}

.push-1 {_margin:0 -20px 1.5em 20px;}

